.acc {
    font-family: 'Roboto';
    max-width: 500px;
    margin: 20px auto;
}

.acc-mainTitle {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.acc-item {
    border: 1px solid #d5e2d6;
    margin-top: 30px;
}

.acc-input {
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
}

.acc-title {
    display: block;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: all .3s ease-out;
}

.acc-text {
    display: none;
    width: 90%;
    margin: 0 auto;
    color: #000;
    font-size: 14px;
    padding-bottom: 20px;
}

.acc-input:hover + .acc-text {
    display: block;
    transition: all .3s ease-out;
}
